.other-services
{
    margin-bottom: 100px;
    overflow: hidden;
}

.other-services__title
{
    font-weight: 700;
    font-size: 48px;
    color: #000;
    margin-bottom: 50px;
}

.other-services__wr
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.other-services__box
{
    /* object-fit: contain; */
    margin-bottom: 20px;
}

.other-services__info
{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    width: 200px;
}